button, input, div, li, ul:focus {
    outline: 0;
}
body {
    overflow: hidden;
}

.App {
    text-align: center;
    background-color: #92b0d3;
}
.table {
    border: 1px solid lightgray;
}
.errorTable {
    border: 4px solid #d31b19;
}

.levelsHeader {
    font-size: calc(10px + 2vmin);
    color: white;
    width: 100vw;
    height: 50px;
    background: #5c7188;
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.card {
    width: 40px;
    height: 40px;
    vertical-align: top;
}
.box {
    border: 1px solid lightgray;
    text-align: center;
    justify-content: center;
}
.row {
    display: flex;
    flex-direction: row;
}
.num_button {
    background: #7b99bc;
    color: white;
    font-size: 18px;
}
.num_button:hover {
    cursor: hand;
    background: #627b98;
}
.num_button:disabled {
    color: white;
    background: #485b7a;
}
.selectLevelBtn {
    background: #f2822e !important;
    color: #173381 !important;
    font-weight: bold !important;
}
.niceBtn {
    border: none;
    background: inherit;
    color: white;
    padding: 5px;
    height: inherit;
    vertical-align: middle;
}
.niceBtn:hover {
    background: #a86946;
}
.iconEraserBtn {
    border: none;
    background: inherit;
    padding: 5px;
    width: 100%;
}
.iconEraser {
    height: 46px;
}
.iconEraserBtn:hover {
    background: #7b99bc;
}
.border {
    background: #e19d3e;
    position: absolute;
}
.vertical {
    height: 360px;
    width: 3px;
}
.left {
    margin-left: -60px;
}
.right {
    margin-left: 60px;
}
.horizontal {
    height: 3px;
    width: 360px;
}
.top {
    margin-top: -60px;
}
.bottom {
    margin-top: 60px;
}